proxmox_endpoint  = "https://192.168.56.20:8006/"
proxmox_tls_insecure = true
workload_type = "vm"

proxmox_node     = "pve-lab"
vm_datastore_id  = "local-lvm"
network_bridge   = "vmbr0"
default_tags     = ["terraform", "ansible", "ubuntu"]

vm_gateway = "192.168.10.1"
vm_cidr    = 24

dns_servers = ["8.8.8.8", "1.1.1.1"]

vm_user              = "ubuntu"
ssh_public_key_path  = "~/.ssh/id_ed25519.pub"
ssh_private_key_path = "~/.ssh/id_ed25519"
# Opsional untuk CI atau environment tanpa file key lokal:
# ssh_public_key      = "ssh-ed25519 AAAA... user@example"
vm_started           = false

cloud_image_file_id   = "local:import/noble-server-cloudimg-amd64.qcow2"
# Ganti nilai ini jika ingin memakai LXC, lalu set workload_type = "lxc"
# container_template_file_id = "local:vztmpl/ubuntu-24.04-standard_24.04-2_amd64.tar.zst"

vm_defaults = {
  role      = "app"
  cpu_cores = 1
  memory    = 1024
  disk_size = 12
}

vms = {
  web-01 = {
    vm_id = 101
    vm_ip = "192.168.10.101"
    role  = "web"
    tags  = ["frontend"]
  }

  app-01 = {
    vm_id     = 102
    vm_ip     = "192.168.10.102"
    role      = "app"
    tags      = ["backend"]
  }

  db-01 = {
    vm_id     = 103
    vm_ip     = "192.168.10.103"
    role      = "db"
    tags      = ["backend"]
    cpu_cores = 2
    memory    = 2048
  }

  monitoring-01 = {
    vm_id     = 104
    vm_ip     = "192.168.10.104"
    role      = "monitoring"
    tags      = ["ops"]
    disk_size = 20
  }

  app-02 = {
    vm_id     = 105
    vm_ip     = "192.168.10.105"
    role      = "app"
    tags      = ["backend"]
    cpu_cores = 2
    memory    = 2048
  }
}
